// Sections / Modules

@import "partials/buttons";
@import "partials/forms";
@import "partials/typography";
@import "partials/variables";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  background-position: center center;
  height: 100vh
}

body {
  background: linear-gradient(180deg, rgba(123, 127, 133, 0.73) 0%, rgba(17, 17, 46, 0.43) 100%);
  color: $color-main;
  height: 100vh;
}

body,
button,
input,
select,
input::-webkit-input-placeholder {
  font-family: $font-stack;
  color: $color-main;
}

button,
select {
  font-weight: $bold;
  text-transform: uppercase;
  cursor: pointer;
}

#map {
  margin-top: 110px;
  height: 400px; 
  width: 400px;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 5%;
}

.options {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 57px;
}

.location {
  &--city {
    font-size: 44px;
    font-weight: $bold;
    text-transform: capitalize;
  }

  &--date {
    font-size: 24px;
    font-weight: $medium;
  }
}

.weather {
  display: flex;
  position: relative;
  font-weight: $bold;
  width: 650px;

  &--tempereture {
    &-number {
      font-size: 306px;
    }

    &-degree {
      font-size: 100px;
      line-height: 230px;
      vertical-align: top;
    }
  }

  &--icon {
    width: 163px;
    height: 103px;
    position: absolute;
    left: 300px;
    z-index: -1;
    background-image: url(../assets/img/weather-icon.svg);
  }

  &--rainfall {
    font-size: 22px;
    padding-top: 180px;
  }
}

.weather_predict {
  display: flex;
  justify-content: space-around;

  &--item {
    width: 160px;

    &-day {
      font-size: 22px;
      text-transform: uppercase;
      font-weight: $bold;
    }

    &-degree {
      font-size: 80px;
      font-weight: $medium;
    }
  }
}

.map {
  border-radius: 20px;
}

.coordinates {
  font-size: 20px;
  font-weight: $medium;
  text-align: right;
}

.sun {
  background-image: url(../assets/img/sun-icon.png);
  background-repeat: no-repeat;
  background-position: right 0px top 40px, 0 0;
}

.cloud{
  background-image: url(../assets/img/clouds-icon.png);
  background-repeat: no-repeat;
  background-position: right 0px top 40px, 0 0;
}


@media screen and (max-width: 720px) {

  .location {
    &--city {
      font-size: 34px;
    }
  
    &--date {
      font-size: 18px;
    }
  }

  .weather {
    display: flex;
    position: relative;
    font-weight: $bold;
    width: 400px;
  
    &--tempereture {
      &-number {
        font-size: 200px;
      }
  
      &-degree {
        font-size: 80px;
        line-height: 165px;
        vertical-align: top;
      }
    }
  
    &--icon {
      width: 163px;
      height: 103px;
      position: absolute;
      z-index: -1;
      background-image: url(../assets/img/weather-icon.svg);
      top:20px;
      left: 179px;
      background-size: 50%;
      background-repeat: no-repeat;
    }
  
    &--rainfall {
      font-size: 18px;
      padding-top: 105px;
    }
  }

  .weather_predict {
    display: flex;
    justify-content: space-around;
  
    &--item {
      width: 100px;
  
      &-day {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: $bold;
      }
  
      &-degree {
        font-size: 60px;
        font-weight: $medium;
      }
    }
  }

  .sun {
    background-size: 30%;
  }
  
  .cloud{
    background-size: 30%;
  }

  .search{    
    &--input {
      width: 277px;
      }
    &--button{
      width: 101px;
    }
  }

  .coordinates {
    font-size: 18px;
  }

  #map {
    margin: 20px auto;
    height: 350px; 
    width: 350px;
  }
}

// Media

@media screen and (max-width: 465px) {

  .location {
    &--city {
      font-size: 20px;
    }
  
    &--date {
      font-size: 16px;
    }
  }

  .weather {
    display: flex;
    position: relative;
    font-weight: $bold;
    width: 300px;
  
    &--tempereture {
      &-number {
        font-size: 150px;
      }
  
      &-degree {
        font-size: 50px;
        line-height: 115px;
        vertical-align: top;
      }
    }
  
    &--icon {
      width: 163px;
      height: 103px;
      position: absolute;
      z-index: -1;
      background-image: url(../assets/img/weather-icon.svg);
      top:20px;
      left: 120px;
      background-size: 40%;
      background-repeat: no-repeat;
    }
  
    &--rainfall {
      font-size: 16px;
    padding-top: 72px;
    }
  }

  .weather_predict {
    display: flex;
    justify-content: space-around;
  
    &--item {
      width: 60px;
  
      &-day {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: $bold;
      }
  
      &-degree {
        font-size: 32px;
        font-weight: $medium;
      }
    }
  }

  .sun {
    background-size: 30%;
    background-position: right 0px top 25px, 0 0;
  }
  
  .cloud{
    background-size: 30%;
    background-position: right 0px top 25px, 0 0;
  }

  .search{    
    margin-top: 20px;
    &--input {
      width: 170px;
      }
    &--button{
      width: 80px;
    }
    &--mic{
      left: 140px;
    }
  }

  #map {
    margin: 40px auto;
    height: 250px; 
    width: 250px;
  }

  .coordinates {
    font-size: 16px;
  }

}