{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/hooks", "airbnb/base"],

     
    "rules": {
        "semi": "warn",
        "no-console": "off",
        "no-plusplus": "off",
        "eol-last": "off",
        "indent": ["off", "tab", "error", 2],
        "comma-dangle": "off",
        "arrow-parens": "off"
    }

}